@import "../../../../assets/styles/rem";
@import "../../../../assets/styles/main-comun";


.mat-form-field-infix  {
    min-width: 300px;
    border-radius: 10px;
    border: .030rem solid #999;
    padding: 10px;
    margin: 5px;
}

.mat-form-field {
    padding-right: 0;
}

.remember {
    text-align: left;
    color: var(--grey-default) ;
}