<div class="background-color">

  <form [formGroup]="myForm" class="form-access">

          <img src="..." alt="" width="72" height="72">
          <mat-form-field>
            <input matInput type="text" class=" form-control" formControlName="name" required>
            <mat-label class="form-access__label">Usuario</mat-label>
            <!-- <mat-error *ngIf="myForm.controls.author.errors?.required">Campo Requerido</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" class="form-control" formControlName="password" required>
            <mat-label class="form-access__label">Contraseña</mat-label>
          </mat-form-field>
          <!-- <div class="checkbox">
            <label>
              <input type="checkbox" class="remember" value="remember-me"> Recuérdame
            </label>
          </div> -->
          <button class="btn btn-lg btn-primary btn-block" matButton type="button" (click)="submit($event, myForm)">Entrar</button>
        </form>

</div>

