       <header class="topbar">
         <div class="topbar__container">
           <div class="topbar__company">
             <i class="fas fa-bars toggler"></i>
             <img src="{{useractive[userActive].logo}}">
           </div>
           <div class="user">
             <div class="user__login">
               <span class="user__name ">{{useractive[id].name}} {{useractive[id].surname}}</span>
               <button type="button" class="user__checkout simple_link" (click)="checkout()">Salir</button>
               <span class="user__image">
                 <span class="user__capitals">KZ</span>
               </span>
             </div>
           </div>
         </div>
       </header>
