    <div class="aside">
        <div class="container">
            <nav *ngIf="isAdmin" class="navabar">
                    <nav class="navbar">
                            <!-- <a [routerLink]="['/clients', userActive,'proyectos']" class="navbar__link" routerLinkActive="navbar__link--active">Mis proyectos</a> -->
                            <a routerLink="clientes" class="navbar__link" routerLinkActive="navbar__link--active">Clientes</a>
                            <a routerLink="tareas" class="navbar__link" routerLinkActive="navbar__link--active">Tareas</a>
                            <a routerLink="proyectos" class="navbar__link" routerLinkActive="navbar__link--active">Proyectos</a>
                            <!-- <a [routerLink]="['/proyectos', 1]" class="navbar__link" routerLinkActive="navbar__link--active">Mis proyectos</a> -->
                            <a routerLink="packs" class="navbar__link" routerLinkActive="navbar__link--active">Packs de horas</a>
                        </nav>
            </nav>
            <nav *ngIf="!isAdmin" class="navbar">
                <!-- <a [routerLink]="['/clients', userActive,'proyectos']" class="navbar__link" routerLinkActive="navbar__link--active">Mis proyectos</a> -->
                    <a routerLink="tareas" class="navbar__link" routerLinkActive="navbar__link--active">Mis tareas</a>
                    <a routerLink="proyectos" class="navbar__link" routerLinkActive="navbar__link--active">Mis proyectos</a>
                    <!-- <a [routerLink]="['/proyectos', 1]" class="navbar__link" routerLinkActive="navbar__link--active">Mis proyectos</a> -->
                    <a routerLink="packs" class="navbar__link" routerLinkActive="navbar__link--active">Mis packs de horas</a>
                    <a routerLink="datos" class="navbar__link" routerLinkActive="navbar__link--active">Mis datos de cuenta</a>
            </nav>
        </div>
        <div  class="texture-admin bg-lines-diagonales">
            <div class="clock--admin">
                <a routerLink="login"><img class="logotipo" src="http://csimon.es/bootcamp/assets/images/logo-web.png" alt="" width="240" height="80"></a>
            </div>
        </div>
        <!-- <div  class="texture bg-lines-diagonales">
                <div class="clock--admin">
                <img class="logotipo" src="http://csimon.es/bootcamp/assets/images/logo-top.png" alt="" width="200" height="58">           
             </div>
        </div> -->
        <!-- <div *ngIf="isAdmin" class="texture-admin bg-lines-diagonales--admin">
                <div class="clock--admin">
                <img class="logotipo" src="http://csimon.es/bootcamp/assets/images/logo-web.png" alt="" width="200" height="58">
                </div>
            </div>
            <div *ngIf="isAdmin" class="texture bg-lines-diagonales--admin">
                    <div class="clock--admin">
                    <img class="logotipo" src="http://csimon.es/bootcamp/assets/images/logos.png" alt="" width="100" height="83">           
                 </div>
            </div> -->
            