@import '../../../../assets/styles/rem';
@import '../../../../assets/styles/main-comun';
@import '../../../../assets/styles/tables';


tr.mat-header-row, tr.mat-header-row:first-of-type{
    padding-right: 50px;
    padding-left: 50px;
}

th:last-of-type{
  width: 100px;
}

// .example-element-row{
//     padding-right: 50px;
//     padding-left: 50px;
// }

// .mat-cell{
//     height: rem(35px);
//     text-align: center;
//     vertical-align: middle;
// }
// tr.mat-header-row {
//     height: 30px;
//     text-align: center;
// }

// th.mat-header-cell{
//     padding: 0 20px 0 20px;
// }
// tr.mat-row{
//     height: 35px;

// }

// th .mat-calendar-table-header {
//     background-color: white;
//   }
  
//   thead th {
//     background-color: white;
//   }
  