@import "../../../../assets/styles/rem";
@import "../../../../assets/styles/main-comun";
@import "../../../../assets/styles/tables";


td.mat-cell {
    padding: 0 0;
}
tr.mat-row {
    height: 3.1875rem
}

tr.row-special {
    height: 0;
}
*[hidden] { display: none; }