
<div class="content">
    <div class="table">
        <table mat-table [dataSource]="dataSource" matSort class="">

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Datos <br> de Acceso</th>
                <td mat-cell *matCellDef="let row">

                    <span>usuario: {{row.username}}<br> </span><br>
                    <span>password: {{row.password}} <br></span><br>
                    <span>Email: {{row.email}}<br> </span><br>

                </td>
            </ng-container>
            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Datos <br>de Contacto</th>
                <td mat-cell *matCellDef="let row">
                    <br>
                    <span>{{row.data_contact.name}}</span><br>
                    <span>{{row.data_contact.email}}</span><br>
                    <span>{{row.data_contact.tel}}<br></span><br>
                    <span>{{row.data_contact.address}}<br></span><br>
                    <span>{{row.data_contact.cp}}<br></span><br>
                    <span>{{row.data_contact.city}}<br></span><br>
                </td>
            </ng-container>
            <ng-container matColumnDef="invoice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="rounded"> Datos <br>de Facturación</th>
                <td mat-cell *matCellDef="let row">
                    <img class="logo" src="{{row.logo}}"><br>
                  
                            <span>{{row.data_invoice.company}}<br></span><br>
                            <span>{{row.data_invoice.cif}}<br></span><br>
                            <span>{{row.data_invoice.email}}<br></span><br>
                            <span>{{row.data_invoice.tel}}<br></span><br>
                            <span>{{row.data_invoice.address}}<br></span><br>
                            <span>{{row.data_invoice.city}}<br></span><br>

                
                </td>
            </ng-container>


            <ng-container matColumnDef="iedit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="nostyle"></th>
                <td mat-cell *matCellDef="let row" class="noline iedit">

                    <span class="iedit__write" (click)="onEdit(row)" [routerLink]="['/edit-account', row._id]"><i
                            class="material-icons md-18">edit</i></span>
                    <span class="iedti__delete" (click)="onDelete(row)"> <i
                            class="material-icons md-18">delete_outline</i></span>
                </td>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
            </tr>
        </table>

    </div>
</div>