@import '../../../../assets/styles/rem';
@import '../../../../assets/styles/tables';
@import '../../../../assets/styles/main-comun';

thead:before {
  content: '';
  background-color: #ddd;
  width: 100vw;
  height: 20px;
  position: absolute;
  left: 0;
}

.mat-cell{
    height: rem(35px);
    text-align: center;
    vertical-align: middle;
}
tr.mat-header-row {
    height: 30px;
    text-align: center;
}

th.mat-header-cell{
    padding: 0 40px 0 40px;
}
tr.mat-row{
    height: 35px;
}

th .mat-calendar-table-header {
    background-color: white;
  }
  
  thead th {
    background-color: white;
  }

//   .rounded{
//     border-top-right-radius: 20px;
// }
  .logo{
     width: 250px;
     padding: 10px;
  }
//   .mat-column-avatar {
//      display: flex;
//      justify-content: center;
//      align-items: center;  
//   }
  th.mat-header-cell:first-of-type {
      padding-left: 10px;
      padding-right: 10px
  }

td .iedit {
   height: 100%;
}
