<main class="main">
    <div class="main__top">
        <div class="main__nav">
            <div class="main__title">Nuevo Proyecto</div>
            <div class="controls">
            </div>
        </div>
    </div>
    <div class="content">
            <div class="table">

<form [formGroup]="myForm" class="form-class">
      <mat-form-field>
        <mat-label>Alias</mat-label>
          <mat-select formControlName="alias">
          <mat-option *ngFor="let proj of alias" [value]="proj">{{proj}}
            </mat-option>
        <!-- <mat-error *ngIf="myForm.controls.genre.errors?.required">Campo Requerido</mat-error> -->
          </mat-select>
            </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="UrlDominio" required>
        <mat-label>UrlDominio</mat-label>
        <!-- <mat-error *ngIf="myForm.controls.author.errors?.required">Campo Requerido</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="UrlAdministracion" required>
        <mat-label>UrlAdministracion</mat-label>
      </mat-form-field>

        <mat-form-field>
        <input matInput type="text" formControlName="tareasRealizadas" required>
        <mat-label>Tareas</mat-label>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="host" required>
          <mat-label>Host</mat-label>
        </mat-form-field>

        <mat-form-field>
        <input matInput type="text" formControlName="puerto" required>
        <mat-label>Puerto</mat-label>
      </mat-form-field>

      <mat-form-field>
      <input matInput type="text" formControlName="cifrado" required>
      <mat-label>Cifrado</mat-label>
    </mat-form-field>

    <mat-form-field>
    <input matInput type="text" formControlName="usuario" required>
    <mat-label>Usuario</mat-label>
  </mat-form-field>

  <mat-form-field>
  <input matInput type="text" formControlName="pass" required>
  <mat-label>Contraseña</mat-label>
</mat-form-field>

<mat-form-field>
<input matInput type="text" formControlName="userAdmin" required>
<mat-label>Usuario Admin</mat-label>
</mat-form-field>

<mat-form-field>
<input matInput type="text" formControlName="passAdmin" required>
<mat-label>Pass Admin</mat-label>
</mat-form-field>

<mat-form-field>
 <input matInput type="text" formControlName="webH" required>
<mat-label>Web Hosting</mat-label>
</mat-form-field>

<mat-form-field>
<input matInput type="text" formControlName="usuarioH" required>
<mat-label>Usuario de acceso</mat-label>
</mat-form-field>

<mat-form-field>
<input matInput type="text" formControlName="passH" required>
<mat-label>Contraseña</mat-label>
</mat-form-field>

 <button matButton type="button" class="btn btn--success" (click)="submit($event, myForm)">Guardar</button>
          <!-- <button matButton type="button" (click)="submit($event, myForm)">Guardar</button> -->

    </form>
</div>
</div>
</main>
