<main class="main">
    <div class="main__top">
        <div class="main__nav">
            <div *ngIf="!isTaskToEdit" class="main__title">Nueva Tarea</div>
            <div *ngIf="isTaskToEdit" class="main__title">Editar Tarea</div>
            <div class="controls">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <form [formGroup]="myForm" class="form-class">

                <mat-form-field *ngIf="isAdmin">
                        <mat-select formControlName="status">
                        <mat-option value="En curso" class="status-active">En curso </mat-option>
                        <mat-option value="En espera" class="status-wait">En espera </mat-option>
                        <mat-option value="Terminada" class="status-done">Terminada </mat-option>
                        <mat-option value="Cancelada" class="status-cancel">Cancelada </mat-option>
                        </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" formControlName="name" required>
                    <mat-label>Nombre de la tarea</mat-label>
                    <!-- <mat-error *ngIf="myForm.controls.author.errors?.required">Campo Requerido</mat-error> -->
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Proyecto asociado</mat-label>

                    <mat-select formControlName="project">
                            <mat-option *ngFor="let alias of aliasPro" [value]="alias.alias">{{alias.alias}}
                             <!-- <mat-option *ngFor="let proj of project" [value]="proj">{{proj}} -->
                            </mat-option>
                        <!-- <mat-error *ngIf="myForm.controls.genre.errors?.required">Campo Requerido</mat-error> -->
                    </mat-select>
                </mat-form-field>

                <mat-form-field  *ngIf="isAdmin">
                    <mat-label>Tiempo gastado</mat-label>
                    <input matInput type="text" formControlName="timespent">
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="datelimit" placeholder="Fecha límite" formControlName="datelimit">
                    <mat-datepicker-toggle matSuffix [for]="datelimit"></mat-datepicker-toggle>
                    <mat-datepicker #datelimit></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Descripción</mat-label>
                    <textarea  matInput type="text" formControlName="description" required></textarea>
                </mat-form-field>

                <!-- <button *ngIf="!isAdmin" matButton type="button" class="btn btn--success"
                    (click)="submit($event, myForm, client)">Guardar</button> -->
                   
                <button  matButton type="button" class="btn btn--success"
                    (click)="submit($event, myForm, aliasPro[0].client)">Guardar</button>
                <!-- <button matButton type="button" (click)="submit($event, myForm)">Guardar</button> -->

            </form>
        </div>
    </div>
</main>