
button {
  cursor: pointer;
}
.hidden{
  display: none
}
.main {
  background-color: #eef3f9;
  ///background-color: #fff;
  min-height: 100vh;
  font-size: var(--fdefault);
  // width: calc(100vw - 239px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-left: rem(250px);
  padding-top: rem(80px);
  overflow-y: hidden;

  &__top {
    height: rem(80px);
    width: 90%;
    position: relative;
    margin-top: rem(50px);
  }

  &__title {
    font-size: var(--fsection);
    font-weight: 300;
    text-transform: uppercase;

    &::after {
      content: '';
      height: 1px;
      width: 250px;
      background-color: var(--grey-dark);
      display: block;
      margin-top: 5px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main__title--small {
  display: inline-flex;
  font-size: .7rem;
  padding-left: 10px;
  color: var(--green-dark);
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    transition: left 250ms ease;
  }
}

.content {
  padding: 45px 35px;
  width: 90%;
  height: auto;
  margin-bottom: 50px;
  background-color: #fff;
}

.pagination {
  width: 90%;
  margin-top: 50px;
  color: var(--green-black);
  display: inline-flex;
  justify-content: center;

  &__list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    //color: #333
  }

  &__item {
    position: relative;
    display: block;
    padding: .60rem .75rem;
    margin-left: -1px;
    cursor: pointer;
    //color: #333;
    background-color: #fff;
    border: 1px solid #99d8e1;

  }

  &__item a {
    color: var(--green-dark);
    font-size: .9rem;
  }

  &__item:hover,
  &__item:focus {
    //background-color: #99d8e1;
    background-color: rgba(153, 215, 225, 0.486);
  }
}

.pagination__item--forward {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination__item--back {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.controls {
  position: relative;
  margin-right: 20px;

  //border-radius: 10px;
  //border: 1px solid #426c6f;
  &__add {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    border: 0;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--green-dark);
    cursor: pointer;
  }
      &__add:hover {
        background-color: var(--btn-hover);
      //background-color: #fff
    }

  & span {
    color: #fff;
    font-weight: var(--font-m);
    font-size: var(--fdefault)
  }
}

.fa-plus-circle {
  font-size: 1rem;
  //  color: #99d8e1;
  color: #fff;
  margin-right: 5px;
}

.navbar-buttons {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 93%;
  margin-top: 40px;
}

.btn {
  font-weight: 500;
  font-size: var(--fbutton);
  color: #fff;
  background-color: var(--green-dark);
  border-radius: 5px;
  padding: .65rem 1.5rem;
  border: 0;

  &:hover {
    //background-color: var(--green-transp);
    //color: var(--green-hover);
    border: 0;
  }

  &--gradient {
    background-image: linear-gradient(to top, #a8edea 50%, #fed6e3 100%);
  }

  &--cancel {
    font-weight: 300;
    font-size: var(--fbutton);
    color: var(--green-dark);
    background-color: var(--grey-light);
    border-radius: 5px;
    padding: .75rem 1.5rem;

    &:hover {
      background-color: var(--green-hover);
    }

    color: var(--grey-default);
    border-color: var(--grey-dark);
    border: 0;
  }

  &--success {
    font-weight: 300;
    font-size: var(--fbutton);
    //color: var(--green-dark);
    background-color: var(--green-dark);
    border-radius: 5px;
    padding: .75rem 1.5rem;

    &:hover {
      background-color: var(--green-default);
    }

    // color: var(--grey-default);
    border-color: var(--green-dark);
    border: 0;
  }

}

.btn+.btn {
  margin-left: 10px;
}

.simple_link {
  background-color: transparent;
  border: 0;
  font-size: .79rem;
  //display: block;
  font-weight: var(--font-l);
  //padding-top: 0.3125rem;
}

.background-color {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  //background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);

}

.material-icons {
  cursor: pointer;
}

.material-icons:hover {
  cursor: pointer;
  color: #99d8e1;
}

.material-icons.md-15 {
  font-size: 15px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.form-txt {
  color: #0000008a;
}