:root {
--green-hover: #adf9f3;
--green-default: #99d8e1;
--green-dark: #00adb6;
--green-black: #204f52;
--green-transp: #99d7e17c;
--grey-dark: #333;
--grey-light: #aaa;
--grey-default: #999;
--yellow:  #f2ce0c;
--disable: #dcdcdc;
--fdefault: .875rem;
--fsection: 1.6rem;
--fbutton: .875rem;

--font-l: 300;
--font-m: 400;
--font-b: 700;
}
