:root {
--green-hover: #adf9f3;
--green-default: #99d8e1;
--green-dark: #00C2E1;
--green-black: #204f52;
--green-transp: #99d7e17c;
--grey-dark: #7694a0;
--grey-light: #aaa;
--grey-default: #8db9ca;
--yellow:  #f2ce0c;
--disable: #dcdcdc;
--fdefault: .875rem;
--fsection: 1.6rem;
--fbutton: .77rem;

--btn-hover: #0099cc;
--btn: #00C2E1;

--orange: #fb8a2e;

--font-l: 300;
--font-m: 400;
--font-b: 700;
}
