@import "../../../../assets/styles/rem";
@import "../../../../assets/styles/main-comun";
@import "../../../../assets/styles/tables";

.iedit {
    padding-left: 0;
    width: 100%;
}

tr.mat-header-row,
tr.mat-header-row:first-of-type {
    padding-right: 50px;
    padding-left: 50px;
}

.mat-cell {
    height: rem(35px);
    text-align: center;
    padding: 0;
    vertical-align: middle;
}

tr.mat-header-row {
    height: rem(30px);
    text-align: center;
}

th.mat-header-cell {
    padding: 0 10px 0 10px;
}

tr.mat-row {
    height: 35px;
}

th .mat-calendar-table-header {
    background-color: white;
}

thead th {
    background-color: white;
}
// .rounded{
//     border-top-right-radius: 20px;
// }

.status-waiting {
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background-color: rgb(204, 204, 33);
}
.status-done {
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background-color: rgb(57, 138, 57);
}
.status-cancel {
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background-color: rgb(163, 29, 29);
}
.status-active {
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background-color: rgb(216, 158, 34);
}