<div class="main__top">
    <div class="main__nav">
        <div class="main__title">Mis Tareas</div>
        <div class="controls">
            <a [routerLink]="['/create-task']"><button type="button" class="controls__add">
                <i class="fas fa-plus-circle"></i>
                <span>Añadir tarea</span>
            </button></a>
        </div>
    </div>
</div>
   <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="content">
        <div class="table">
            <table mat-table [dataSource]="dataSource" matSort class="">

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado </th>
                    <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                </ng-container>

                <ng-container *ngIf="isAdmin" matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente </th>
                    <td mat-cell *matCellDef="let row"> {{row.client}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de la tarea </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
                <ng-container matColumnDef="timespent">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiempo Empleado </th>
                    <td mat-cell *matCellDef="let row"> {{row.timespent}} </td>
                </ng-container>
                <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Proyecto </th>
                    <td mat-cell *matCellDef="let row"> {{row.project}} </td>
                </ng-container>
                <ng-container matColumnDef="datelimit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="rounded"> Fecha límite de ejecución</th>
                    <td mat-cell *matCellDef="let row"> {{row.datelimit | date: "dd/MM/yyyy"}} </td>
                </ng-container>

                <ng-container *ngIf="isAdmin" matColumnDef="iedit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="nostyle"></th>
                    <td mat-cell *matCellDef="let row" class="noline iedit">
                        <span class="iedit__write" (click)="onEdit(row)" [routerLink]="['/edit-task', row._id]">
                        <i class="material-icons md-18">edit</i></span>
                        <span class="iedti__delete" (click)="onDelete(row)">
                        <i class="material-icons md-18">delete_outline</i></span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>